MYSQL_ROOT_PASSWORD=root123456
MYSQL_USER=duodian
MYSQL_PASSWORD=duodian123

DUODIAN_FRONTEND_PORT=8006

MYSQL_BACKUP_INTERVAL_SECONDS=86400
MYSQL_BACKUP_MAX_BACKUPS=30
MYSQL_BACKUP_INIT=1

MYSQL_BACKUP_CRON=0 0 * * *
MYSQL_BACKUP_MAX_BACKUPS=30
MYSQL_BACKUP_INIT=0
